
*{
    background: linear-gradient(180deg,#111 0%, #1a1a1a 100%);
    color: #f5f5f5;
}

h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;/*centraliza o texto*/
}

.columnList{
   display: flex;
   justify-content: center;
    gap: 60px;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-image: url("imagens/brilho.png");
    background-repeat: no-repeat;
    background-size: 1600px 400px;
}
h2, h3, h4{
    text-align: center;
    color: #7a1f1f;
   
}
.central, .introduction{
    text-align: center;

}
.container{
    display: flex;
   justify-content: center;
    gap: 60px;
   
}

h1{
    color:#c9a24d;
}
